#signaturenadira {
  margin: 0 auto;
  width: 280px;
  text-align: center;
  text-transform: lowercase;
  gap: 7px;
  color: var(--text1);
}

#signaturenadira img {
  pointer-events: none;
}

#signaturenadira img.signadimgdiv {
  width: 130px;
  margin: 2px auto;
}

#signaturenadira * {
  box-sizing: content-box!important;
}

#signaturenadira br {
  display: none!important;
}

#signaturenadira .signadtextcont {
  font: normal 8px var(--f-mono);
  letter-spacing: 1.5px;
  line-height: 120%;
}

#signaturenadira .signadtextcont br {
  display: inline!important;
}

#signaturenadira .signadtextcont strong, #signaturenadira .signadtextcont b {
  font-weight: 700;
  color: var(--group);
}

#signaturenadira .signadtextcont i {
  color: var(--title);
}

#signaturenadira .signadtextcont u {
  color: var(--subtitle)!important;
  border: none!important;
  text-transform: lowercase!important;
  text-decoration: 1px solid underline;
}

#signaturenadira .signadtextcont strike {
  color: var(--text3);
}
  
#signaturenadira .signadtextcont u, #signaturenadira .signadtextcont strike {
  text-decoration-color: var(--group);
}

#signaturenadira .signadimgcont {
  width: 270px;
  height: 160px;
  padding: 6px;
  outline: var(--border2);
  overflow: hidden;
  transition: 0.4s ease;
}

#signaturenadira:hover .signadimgcont {
  outline-color: var(--group);
}

#signaturenadira .signadimgcont>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
  position: relative;
  z-index: 0;
  transition: 0.4s ease;
}

#signaturenadira:hover .signadimgcont>img {
  filter: grayscale(1);
}

#signaturenadira img.signadimgicon {
  width: 16px;
  margin: 2px auto;
}
