.robin {
  --group: #ae7065;
  --group-80: rgb(from var(--group) r g b / 80%);
  --group-60: rgb(from var(--group) r g b / 20%);
  --group-40: rgb(from var(--group) r g b / 20%);
  --group-20: rgb(from var(--group) r g b / 20%);
  --bordewidth: .4rem;
  --bordecorner: 1.4rem;
  --transition1: .7s;
  --gap1: .7rem;
  --fuenteR: 'Panchang';
}

#robinsigna {
  height: 14rem;
  width: 14rem;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  position: relative;
  border: var(--bordewidth) solid transparent;
  outline: var(--border2);
  z-index: 1;
  corner-shape: notch;
  border-radius: var(--bordecorner);
  box-sizing: content-box;
  & * {
    box-sizing: border-box;
    transition: var(--transition1);
  }
  & br {
    display: none!important;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: calc(100% - (1px * 2));
    width: calc(100% - (1px * 2));
    outline: var(--border2);
  }
  & b.rsigcorner {
    width: calc(var(--bordecorner) / 3);
    height: calc(var(--bordecorner) / 3);
    background: var(--group);
    position: absolute;
    transform: rotate(45deg);
    z-index: 1;
    &.upp {
      top: calc(var(--bordewidth) * -.5);
    }
    &.bott {
      bottom: calc(var(--bordewidth) * -.5);
    }
    &.dere {
      left: calc(var(--bordewidth) * -.5);
    }
    &.izqi {
      right: calc(var(--bordewidth) * -.5);
    }
  }
  & hr.rsigline {
    background: radial-gradient(circle,rgba(from var(--group) r g b / 100%) 0%, rgba(0, 0, 0, 0) 100%)!important;
    border: none!important;
    margin: 0px!important;
    padding: 0px!important;
    position: absolute;
    z-index: 1;
    transition-delay: calc(var(--transition1) * 2);
    &.upp {
      top: calc((var(--bordewidth) * 0) - 1px);
    }
    &.bott {
      bottom: calc((var(--bordewidth) * 0) - 1px);
    }
    &:is(.upp, .bott) {
      width: 0px;
      height: .85px;
    }
    &.izqi {
      right: calc((var(--bordewidth) * 0) - 1px);
    }
    &.dere {
      left: calc((var(--bordewidth) * 0) - 1px);
    }
    &:is(.dere, .izqi) {
      height: 0px;
      width: .85px;
    }
  }
  & .rsig-imgcont {
    width: calc(100% - (var(--bordewidth) * 2));
    height: calc(100% - (var(--bordewidth) * 2));
    overflow: hidden;
    position: relative;
    z-index: 0;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 20% center;
      position: absolute;
      corner-shape: bevel;
      border-radius: calc(var(--bordecorner) / 5);
      filter: none;
      transition-delay: calc(var(--transition1) * 2);
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: var(--group);
      mix-blend-mode: multiply;
      transform: scale(0) rotate(45deg);
      transition: var(--transition1);
      transition-delay: var(--transition1);
    }
  }
  & .rsigna-cont {
    width: calc(100% - (var(--bordewidth) * 2));
    height: calc(100% - (var(--bordewidth) * 2));
    position: absolute;
    z-index: 1;
    overflow: hidden;
    & .rsigna-txt1 {
      width: 100%;
      height: 100%;
      padding: calc(var(--bordecorner) / 2);
      position: absolute;
      z-index: 1;
      justify-content: end;
      align-items: end;
      inset: 0;
      transition-delay: calc(var(--transition1) * 2);
      & b {
        font: 900 var(--fs-body) var(--fuenteR);
        line-height: 100%;
        text-transform: uppercase;
        text-align: right;
        color: var(--title);
        & br {
          display: inline!important;
        }
      }
    }
    & .rsigna-txt2 {
      opacity: 0;
      width: 100%;
      height: 100%;
      padding: calc(var(--bordecorner) / 1.5);
      position: absolute;
      z-index: 1;
      transition-delay: 0s;
      gap: var(--gap1);
      text-align: center;
      transition-delay: 0s;
      & * {
        position: relative;
        z-index: 1;
      }
      & b {
        font: 600 .75rem var(--fuenteR);
        line-height: 140%;
        color: var(--group);
        text-transform: uppercase;
      }
      & span {
        font: 300 .67rem var(--f-mono);
        line-height: 140%;
        text-transform: uppercase;
        color: var(--text);
        & strong {
          font-weight: 900;
          color: var(--title);
        }
        & i {
          font-style: italic;
          font-weight: 700;
          color: var(--subtitle);
        }
        & u {
          text-underline-offset: 2px;
          font-family: var(--fuenteR);
          font-weight: 600;
          color: var(--subtitle);
        }
        & strike {
          font-weight: 600;
          color: var(--text3);
          letter-spacing: .5px;
        }
        & u, & strike {
          text-decoration-thickness: 1px;
          text-decoration-color: var(--group-80);
        }
      }
    }
  }
  &:hover {
    & hr.rsigline {
      transition-delay: 0s;
      &:is(.upp, .bott) {
        width: calc(80% - (var(--bordewidth) * 2));
        
      }
      &:is(.dere, .izqi) {
        height: calc(80% - (var(--bordewidth) * 2));
      }
    }
    & .rsig-imgcont {
      & img {
        object-position: 100% center;
        filter: grayscale(1) brightness(0.25);
        transition-delay: 0s;
      }
      &:after {
        transform: scale(1) rotate(45deg);
        transition-delay: var(--transition1);
      }
    }
    & .rsigna-cont {
      & .rsigna-txt1 {
        transform: translateY(calc(50% + .8rem));
        transition-delay: 0s;
      }
      & .rsigna-txt2 {
        transition-delay: calc(var(--transition1) * 2);
        opacity: 1;
      }
    }
  }
}
